<div style="margin-left:60px">
  <h2>List of properties</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Type</th>
      <th>Price</th>
      <th>Post Date</th>
    </tr>
  </thead>
  <tbody>
    <% @prop.each do |p| %>
      <tr>
        
        <td><%= p.property_type %></td>
        <td><%= p.price %></td>
        <td><%= p.created_at.strftime("%Y/%m/%d") %></td>
        <td>
          <%= link_to "show", propertydetail_path(p), :class => 'btn btn-success btn-min' %>
          <%= link_to 'Edit', edit_propertydetail_path(p), :class => 'btn btn-primary btn-min' %>
          <%= link_to 'Destroy', propertydetail_path(p), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-danger btn-min' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Back', :back %>
</div>
