<div style="margin-left:200px">
  <p>Property Details</p><br>
  <%=image_tag(@prop.pictures.first.image, size: "200x200")%>
  <br/><div>Property Type  :<%= @prop.property_type %></div>
  <div>Area in Sqr. Feet : <%= @prop.area %></div>
  <div>Price  : <%= @prop.price %></div>
  <div>Country : <%= @prop.country %></div>
  <div>State : <%= @prop.state %></div>
  <div>City : <%= @prop.city %></div>
  <div>Location : <%= @prop.address %> </div>
  
  <%= link_to 'Back', :back %>
</div>

 

