<div class="container  border_and_background">
  <h5>Edit Your Property Profile</h5>
  <%= form_for(@buyer, :url => buyerprofile_path(@buyer.id), :method => :put ) do |f| %>
    <div class="row-fluid">
      <div class="span12 margin_left left_col_height">
        <div class="row-fluid">
          <div class="row-fluid">
            <div class="span2">
              <%= f.label :property_type %>
            </div>
            <div class="span4">
              <%= f.select(:property_type, options_for_select([[PropertyDetail::PROPERTY_TYPE["residential"], 'Residential'], 
              [PropertyDetail::PROPERTY_TYPE["commercial"], 'Commercial']] , :selected => params[:property_type])) %>
            </div>
            <div class="span2">
              <%= f.label :min_budget %>
            </div>
            <div class="span4">
              <%= f.text_field :min_budget %>
            </div>
          </div>
          
          <div class="row-fluid">
            <div class="span2">
              <%= f.label :max_budget %>
            </div>
            <div class="span4">
              <%= f.text_field :max_budget %>
            </div>
            <div class="span2">
              <%= f.label :looking_country %>
            </div>
            <div class="span4">
              <%= f.text_field :looking_country %>
            </div>
          </div>
          
          <div class="row-fluid">
            <div class="span2">
              <%= f.label :looking_city %>
            </div>
            <div class="span4">
              <%= f.text_field :looking_city %>
            </div>
          </div>
                  
          <div class="row-fluid">
            <div class="span1 ">
             <%= f.submit "Update", :class => 'btn btn-success btn-min'  %>
            </div>
            <div class="span1 ">
              <%= link_to "Back", home_users_path, :class => 'btn btn-info btn-min' %>
            </div>
          </div><br/> 
        </div> 
      </div> 
    </div>
  <% end %>
</div>



