<h2>Sign up</h2>
<% @user.pictures.build %>
<%= form_for(@user, :url => registration_path(@user), :method => :post, :html => {:multipart => true} ) do |f| %>
  <%= devise_error_messages! %>
  <div class="row-fluid">
    <div class="span10 ">
      <div class="row-fluid">
        <div class="row-fluid">
          <div class="span5"><%= f.text_field :first_name, :placeholder => "Enter first name", :required =>"required" %></div>
          <div class="span5"><%= f.text_field :last_name, :placeholder => "Enter last name", :required =>"required"%></div>
        </div>  
        <div class="row-fluid">
          <div class="span5">  <%= f.select :gender, ['Select Gender','Male', 'Female'] %></div>
          <div class="span5 dob">DOB <%= f.date_select :dob, :order => [:day, :month, :year], :start_year => 1910%></div>
        </div>  
        <div class="row-fluid">
          <div class="span5"> <%= f.email_field :email, :placeholder => "Enter email", :required =>"required"%></div>
          <div class="span5"> <%= f.text_field :mobile, :placeholder => "Enter mobile no", :required =>"required"%></div>
        </div>  
        <div class="row-fluid">
          <div class="span5"> <%= f.password_field :password, :placeholder => "Enter password" , :required =>"required"%></div>
          <div class="span5"> <%= f.password_field :password_confirmation, :placeholder => "Enter confirmation password", :required =>"required" %></div></div>
        </div>  
        <div class="row-fluid">
          <div class="span5"> <%= f.text_field :country, :placeholder => "Enter country", :required =>"required"%></div>
          <div class="span5"> <%= f.text_field :state, :placeholder => "Enter state", :required =>"required"%></div>
        </div> 
         
        <%=f.hidden_field :user_type, :value => params[:type]%>
        
        <div class="row-fluid">
          <div class="span5"> <%= f.text_field :city, :placeholder => "Enter city", :required =>"required"%></div>
          <div class="span5"> <%= f.text_field :address, :placeholder => "Enter address", :required =>"required"%></div>
        </div>  
        <div class="row-fluid">
          <div class="span5"> <%= f.text_field :zip_code, :placeholder => "Enter Zip code", :required =>"required" %></div>
        </div>  
        <div class="row-fluid">
          <div class="span5"><%= f.fields_for :pictures do |pic_form| %>
            <%= pic_form.file_field :image %>
            <% end %> </div>
          </div> <br/>
          <div class="row-fluid">
            <div class="span1 registration_new_btn"> <%= f.submit "Sign up" , :class => 'btn btn-success btn-min', :id =>"signup_btn" %></div>
          </div>  
        </div>
      </div>
    </div>
  </div>
<% end %>

