<p class = "notice"></p> 
<div class="row-fluid">
  <div class="span3 span2 left_col_height">
    <div class="row-fluid">
      <div class="row-fluid">
        <div class="span12"><%= link_to "Post new Property",new_propertydetail_path(:status => PropertyDetail::SOLD_STATUS[:not_sold])%></div>
      </div>  
      <div class="row-fluid">
        <div class="span12"><%= link_to "View Property", propertydetails_path %></div>
      </div>  
    </div>
  </div>
  <div class="span9 span2 left_col_height"> 
    <div class="row-fluid">
      <div class="row-fluid">
        <div class="span6"><strong>Number of posted property is/are : <%= current_user.property_details.count %></strong></div>
      </div>
      <div class="row-fluid">
        <div class="span3"><strong>User Type:</strong></div>
        <div class="span6"><%= current_user.user_type %></div>
      </div>  
      <div class="row-fluid">
        <div class="span3"><strong>Name:</strong></div>
        <div class="span6"><%= current_user.first_name %> <%= current_user.last_name %></div>
      </div>
      <div class="row-fluid">
        <div class="span3"><strong>Mobile No:</strong></div>
        <div class="span6"><%= current_user.mobile %></div>
      </div>  
      <div class="row-fluid">
        <div class="span3"><strong>Gender:</strong></div>
        <div class="span6"><%= current_user.gender %></div>
      </div>  
      <div class="row-fluid">
        <div class="span3"><strong>Email:</strong></div>
        <div class="span6"><%= current_user.email %></div>
      </div>
      <div class="row-fluid">
        <div class="span3"><strong>Country:</strong></div>
        <div class="span6"><%= current_user.country %></div>
      </div> 
      <div class="row-fluid">
        <div class="span3"><strong>State:</strong></div>
        <div class="span6"><%= current_user.state %></div>
      </div>   
      <div class="row-fluid">
        <div class="span3"><strong>City:</strong></div>
        <div class="span6"><%= current_user.city %></div>
      </div>
      <div class="row-fluid">
        <div class="span3"><strong>Address:</strong></div>
        <div class="span6"><%= current_user.address %></div>
      </div> 
      <div class="row-fluid">
        <div class="span3"><strong>Zip Code:</strong></div>
        <div class="span6"><%= current_user.zip_code %></div>
      </div> 
    </div>  
  </div>
</div>
