<h3>Properties list</h3>
<div class="row-fluid">
  <div class="span2 span8 pull-left left_col_height">
    <div class="row-fluid">
      <div class="row-fluid">
        <div class="span3"><strong>Type</strong></div>
        <div class="span3"><strong>Price</strong></div>
        <div class="span3"><strong>Area</strong></div>
        <div class="span3"><strong>City</strong></div>
      </div>
    <%@prop.each do |p| %> 
      <div class="row-fluid">
        <div class="span3"><%= link_to p.property_type, search_property_path(p)%></div>
        <div class="span3"><%=p.price%></div>
        <div class="span3"><%=p.area%></div>
        <div class="span3"><%=p.city%></div>
      </div>
    <%end%>   
   </div>
</div>
<%= form_tag search_properties_path, :method => 'get', :id => "search_property" do %>
  <div class="span2 span4 left_col_height">
    <div class="row-fluid">
      <div class="row-fluid">
        <div class="span10"><strong>Search properties as your need</strong></div>
      </div>
      <div class="row-fluid">
         <div class="span3"><%=select_tag "property_type", options_for_select([ "Select Property Type", "Residential","Commercial" ])%></div>
      </div>
      <div class="row-fluid">
         <div class="span3"><%= text_field_tag :min_budget, params[:min_budget], :placeholder => "Yours minimum budget" %></div>
      </div>
      <div class="row-fluid">
         <div class="span3"><%= text_field_tag :max_budget, params[:max_budget], :placeholder => "Yours maximum budget" %></div>
      </div>
      <div class="row-fluid">
         <div class="span3"><%= text_field_tag :looking_country, params[:looking_country], :placeholder => "Looking in which country" %></div>
      </div>
      <div class="row-fluid">
         <div class="span3"><%= text_field_tag :looking_city, params[:looking_city], :placeholder => "Looking in which city" %></div>
      </div>
      <div class="row-fluid">
        <div class="span3 "><%= submit_tag "Search", :class => 'btn btn-success btn-min' %></div>
      </div> 
     </div>
   </div>
<% end %>

