<h3>Agreement</h3>
<div class="row-fluid pull-left ">
  <div class="span12 border_and_background left_col_height">
    <div class="row-fluid margin_left">
      <div class="row-fluid">
        <div class="span4"><strong>Buyer</strong></div>
        <div class="span4"><strong>Seller</strong></div>
      </div>
      <%= form_for(@agreement, :url => agreements_path(@agreement), :method => :post, :html => {:multipart => true} ) do |f| %>
        <%=f.hidden_field :property_detail_id, :value => params[:property_id]%>
        <%=f.hidden_field :buyer_id, :value => current_user.id%>
        <%=f.hidden_field :seller_id, :value => params[:seller_id]%>
        <%=f.hidden_field :property_status, :value => "Claimed"%>
        
        <div class="row-fluid">
          <div class="span4"><strong>Name:</strong> <%=current_user.first_name%> <%=current_user.last_name%></div> 
          <div class="span4"><strong>Name:</strong> <%=@seller.first_name%> <%=@seller.last_name%></div> 
        </div> 
        <div class="row-fluid">
          <div class="span4"><strong>Mobile No:</strong> <%=current_user.mobile%></div>
          <div class="span4"><strong>Mobile No:</strong> <%=@seller.mobile%></div>
        </div>
        <div class="row-fluid">
          <div class="span4"><strong>Email:</strong> <%=current_user.email%></div>
          <div class="span4"><strong>Email:</strong> <%=@seller.email%></div>
        </div>  
        <div class="row-fluid">
          <div class="span4"><strong>City:</strong> <%=current_user.city%></div>
          <div class="span4"><strong>City:</strong> <%=@seller.city%></div>
        </div> 

        <div class="row-fluid">
          <div class="span4"><strong>Address: </strong><%=current_user.address%></div>
          <div class="span4"><strong>Address: </strong><%=@seller.address%></div>
        </div> 
        <div class="row-fluid">
          <div class="span4"><strong>Seller wish this price: </strong><%=@prop.price%></div>
          <div class="span4">What Price you would give this property: <%= f.text_field :price, :placeholder => "Enter price", :class => 'price',  :required => "required" %></div>
        </div> 
        <div class="row-fluid">
          <div class="span4"><strong>Write your comment here: </strong></div>
        </div>
        <div class="row-fluid">
          <div class="span12 comment_div_height"><%= f.text_area :description, :placeholder => "Enter comment", :class => 'description'%></div>
        </div> 
        <div class="row-fluid">
          <div class="span10">
            <strong>It is declared that this agreement generated for 10 day otherwise your claim will be dismissed</strong>
          </div>
        </div> 
        <div class="row-fluid">
          <div class="span4">
             <div class="span4"> <%= f.submit "I Agree" , :class => 'btn btn-success btn-min' %></div>
          </div>
        </div>
      </div>
    </div> 
  <%end%>  
</div>
