<!DOCTYPE html>
<html ng-app>
<head>
  <title>Property</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", controller_name %>
  <%= csrf_meta_tags %>
</head>
<body><br/><br/><br/>
  <%= render 'layouts/header' %>
  
  <div class="container">
    <%= link_to image_tag('facebook_logo_50x50.png', size: "30x30"), user_omniauth_authorize_path(:facebook) %>
    <%= link_to image_tag('Twitter-icon-50x50.png', size: "30x30"), user_omniauth_authorize_path(:twitter) %>
    <%= link_to image_tag('google.png', size: "30x30"), user_omniauth_authorize_path(:google_oauth2) %>
    <%= link_to image_tag('github.png', size: "30x30"), user_omniauth_authorize_path(:github) %>
    
    <%= render :partial => 'layouts/flash_messages' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </div>
</body>
</html>
